:root {
    --tg-color-scheme: dark; 
    --tg-theme-bg-color: #101828; 
    --tg-theme-button-color: #f8c098; 
    --tg-theme-button-text-color: #101828; 
    --tg-theme-hint-color: #5c7186; 
    --tg-theme-link-color: #f8c098; 
    --tg-theme-bg-color: #060e1e; 
    --tg-theme-text-color: #e6e8ec; 
    --tg-viewport-height: 496px; 
    --tg-viewport-stable-height: 496px;
}

main {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    font-family: "Roboto", sans-serif;
    min-height: var(--tg-viewport-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    /* background-color: var(--tg-theme-secondary-bg-color); */
    /* box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16); */
    border-radius: 10px;
    padding: 16px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
}

/* some space to home button */
main > .card:last-of-type {
    margin-bottom: 50px;
}

.card > * {
    width: 100%;
    padding: 10px 0;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form button[type=submit] {
    width: 100%;
    margin-top: 32px;
}
.form input, .form textarea, .form select {
    resize: none;
    background-color: var(--tg-theme-secondary-bg-color);
    border: 1px solid #00000000;
    border-bottom: 1px solid var(--tg-theme-hint-color);
    outline: 1px solid rgba(255, 0, 0, 0);
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    color: var(--tg-theme-text-color);
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: background-color .3s ease-in-out;
}
.form input:focus, .form textarea:focus {
    border: 1px solid var(--tg-theme-link-color);;
}
.form input::placeholder, .form textarea::placeholder {
    color: var(--tg-theme-hint-color);
}
.form > *:disabled {
    background-color: var(--tg-theme-secondary-bg-color);
    /* color: var(--tg-theme-hint-color); */
    border: 1px solid var(--tg-theme-hint-color);
    cursor: not-allowed;
}

.button {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}
.button:hover {
    filter: brightness(1.1);
}

.icon {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    min-width: 50px; max-width: 50px;
    min-height: 50px; max-height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined {
    color: var(--tg-theme-text-color);
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}


/* FORMATING */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.centerText {
    text-align: center;
}

.link {
    color: var(--tg-theme-hing-color);
    text-decoration: none;
    transition: color .3s ease-in-out;
    cursor: pointer;
}
.link:hover {
    color: var(--tg-theme-link-color);
}

#home {
    display: flex; justify-content: center;
    position: fixed;
    bottom: calc(100vh - var(--tg-viewport-height));
    right: 10px;
}
#home button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
}

#home span {
    color: var(--tg-theme-button-text-color);
}